body {
	margin: 0 auto;
	padding: 0 auto;
	background-color: #f8f5ea;
}
#baseBody {
	height: 90vh;
	margin: 0 .5%;
	background-color: white;
	border-bottom-left-radius: 7rem;
	border-bottom-right-radius: 7rem;
}
#baseHeader {
	height: 63vh;
	background-image: linear-gradient(to right top, #24318b, #1f4da5, #1e68bd, #2683d3, #389fe7);
	border-bottom-left-radius: 7rem;
	border-bottom-right-radius: 7rem;
}
