body {
	margin: 0 auto;
	padding: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f8f5ea;
}
#baseBody {
	height: 93vh;
	margin: 0 .5%;
	background-color: white;
	border-bottom-left-radius: 7rem;
	border-bottom-right-radius: 7rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#baseHeader {
	height: 75vh;
	background-image: linear-gradient(to right top, #24318b, #1f4da5, #1e68bd, #2683d3, #389fe7);
	border-bottom-left-radius: 7rem;
	border-bottom-right-radius: 7rem;
}
#headerLogoContainer {
	height: 10vh;
}
#headerLogoText {
	color: white;
	font-size: 30pt;
	font-weight: bold;
	margin: 0 auto;
	padding: 1.2% 5%;
}
#headerBody {
	display: flex;
	flex-direction: row;
}
#headerDescriptionContainer {
	width: 50%;
	margin: auto;
}
#headerDescription {
	width: fit-content;
	margin: auto;
}
#thumbnailContainer {
	width: 50%;
	display: flex;
	flex-direction: column-reverse;
}
#thumbnailIcon {
	aspect-ratio: 1;
	width: 64%;
}
.baseButton {
	cursor: pointer;
	background-image: linear-gradient(to top, #f06622, #f5791c, #f88b17, #fa9d15, #fbaf18);
	width: fit-content;
	padding: 2% 5%;
	font-size: 20pt;
	font-weight: bold;
	border-radius: 2rem;
	color: white;
	-webkit-box-shadow: 0px 1px 3px 0px #6DAC15;
	box-shadow: 0px 1px 3px 0px #6DAC15;
}
.contactButton {
	padding: 1.5% 4.5%;
	margin: auto;
}
.baseButton:hover {
	background-image: linear-gradient(to top, #e16324, #dc6f1c, #d77916, #d18312, #cb8d12);
}
#headerDescriptionTitle {
	font-size: 25pt;
	color: white;
	font-weight: bold;
}
#headerDescriptionText {
	font-size: 17pt;
	color: white;
	padding: 6% 0;
	font-weight: bold;
}
#detailContainer {
	display: flex;
	width: 90%;
	height: 18vh;
	margin: 0 auto;
	justify-content: space-between;
}
.detailItemContainer {
	width: 33%;
	margin: auto;
	display: flex;
}
.detailItem {
	width: 45%;
	height: 13vh;
	text-align: center;
	margin: 3% auto 0% auto;
}
.detailItemContainerRightMargin {
	width: 0.3%;
	background-color: #a7a8ab;
}
.detaileItemTitle {
	font-size: 15pt;
	font-weight: bold;
}
.detaileItemDescription {
	font-size: 14pt;
	color: #a7a8ab;
	margin-top: 3%;
}
